<!DOCTYPE html>

<body>
    <h1>CasualDB Client</h1>
    <form action="/submit" method="POST">
        <label for="blockSize">Block Size in Bytes:</label><br>
        <input type="number" id="blockSize" name="blockSize" required><br><br>

        <label for="fileDirectory">File Directory:</label><br>
        <input type="text" id="fileDirectory" name="fileDirectory" required><br><br>

        <label for="fileName">File Name:</label><br>
        <input type="text" id="fileName" name="fileName" required><br><br>

        <label for="data">Data:</label><br>
        <input type="text" id="data" name="data" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>